<div class="containareon">
    <form action="/" method="post" class="text-center">
        <label class="text-center">Pokemon: </label>
        <input type="text" class="inputs" name="pokemon[name]" id="name">
        <br>
        <label class="text-center">CP: </label>
        <input type="text" class="inputs" name="pokemon[cp]" id="cp">
        <br>
        <label class="text-center">Type: </label>
        <input type="text" class="inputs" name="pokemon[poke_type]" id="poke_type">
        <br>
        <labelclass="text-center">Img: </label>
        <input type="text" class="inputs" name="pokemon[img_url]" id="img">
        <br>
        <input type="submit" name="submit">
    </form>
</div>
<div>
    <a class="pokedex delete" href="/">Go to Pokedex</a>
</div>