<div class="containareon">
    <form action="/" method="post" class="text-center">
        <label for="name" class="text-center">Pokemon: </label>
        <input type="text" class="inputs" name="name" id="name">
        <br>
        <label for="cp" class="text-center">CP: </label>
        <input type="text" class="inputs" name="cp" id="cp">
        <br>
        <label for="poke_type" class="text-center">Type: </label>
        <input type="text" class="inputs" name="poke_type" id="poke_type">
        <br>
        <label for="img" class="text-center">Img: </label>
        <input type="text" class="inputs" name="img" id="img">
        <br>
        <input type="submit" name="submit">
    </form>
</div>